## SQL  - STRUCTURED QUERY LANGUAGE

In [ ]:
#1.What is SQL, and why is it important in data analytics?
#Ans1.SQL is a standard language for managing and querying databases, essential in data analytics for extracting, transforming, and analyzing data efficiently.

In [ ]:
#2.Explain the difference between INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL OUTER JOIN.
#ANS2. Joins in SQL combine rows from two or more tables based on a related column.
# -INNER JOIN: Matches rows with common keys in both tables.
#-LEFT JOIN: Returns all rows from the left table and matching rows from the right.
#-RIGHT JOIN: Returns all rows from the right table and matching rows from the left.
#-FULL OUTER JOIN: Returns all rows from both tables with NULLs for unmatched rows.

In [ ]:
#3.What is the difference between WHERE and HAVING clauses?
#Ans3. Aggregation in SQL involves performing calculations on multiple rows to return a single summarized value, like COUNT, SUM, AVG, MIN, or MAX.
#WHERE filters rows before aggregation, HAVING filters rows after aggregation.

In [ ]:
#4.How do you use GROUP BY and HAVING in a query?
#Ans4.GROUP BY groups rows by column values; HAVING filters groups based on aggregate conditions.

In [ ]:
#5.Write a query to find duplicate records in a table.
#ANS5. "SELECT column, COUNT(*) FROM table GROUP BY column HAVING COUNT(*) > 1;"

In [ ]:
#6.How do you retrieve unique values from a table using SQL?
#Ans6. "SELECT DISTINCT column FROM table;"

In [ ]:
#7.Explain the use of aggregate functions like COUNT(), SUM(), AVG(), MIN(), and MAX().
#Ans7. - COUNT(): Counts rows.
#SUM(): Calculates total.
#AVG(): Calculates average.
#MIN()/MAX(): Finds minimum/maximum values.

In [ ]:
#8.What is the purpose of a DISTINCT keyword in SQL?
#Ans8. To  Eliminates duplicate rows from results.

In [ ]:
#1.Write a query to find the second-highest salary from an employee table.
#Ans1. "SELECT MAX(salary) FROM employees WHERE salary < (SELECT MAX(salary) FROM employees);"

In [ ]:
#2.What are subqueries and how do you use them?
#Ans2. Subqueries are nested queries within a main query, used to perform operations like filtering, comparisons, or returning intermediate results.
#Subqueries are used in SQL by placing them inside clauses like WHERE, FROM, or SELECT, to filter, compare, or generate intermediate results for the main query.

In [ ]:
#3What is a Common Table Expression (CTE)? Give an example of when to use it.
#Ans3.A Common Table Expression (CTE) is a temporary, named result set defined within a WITH clause, used to simplify complex queries and improve readability.
# WITH DepartmentSales AS (
#   SELECT department_id, SUM(sales) AS total_sales
#    FROM sales
#    GROUP BY department_id
#)
#SELECT department_id, total_sales
#FROM DepartmentSales
#WHERE total_sales > 10000;

In [ ]:
#4.Explain window functions like ROW_NUMBER(), RANK(), and DENSE_RANK().
#Ans4. Window functions operate over a defined set of rows (window) and perform calculations like ranking or numbering rows without collapsing them.
#-ROW_NUMBER(): Unique row numbering.
#-RANK(): Ranks with gaps for ties.
#-DENSE_RANK(): Ranks without gaps for ties.

In [ ]:
#5.How do you combine results of two queries using UNION and UNION ALL?
#Ans5. UNION -
#SELECT name, department FROM employees1
#UNION
#SELECT name, department FROM employees2;

#UNION ALL -
#SELECT name, department FROM employees1
#UNION ALL
#SELECT name, department FROM employees2;

In [ ]:
#6.What are indexes in SQL, and how do they improve query performance?
#Ans6.Indexes in SQL are data structures that improve the speed of data retrieval operations by providing quick access to rows in a table, similar to an index in a book.
#They enhance query performance by reducing the need to scan entire tables.

In [ ]:
#7.Write a query to calculate the total sales for each month using GROUP BY.
#Ans7. "SELECT MONTH(order_date), SUM(sales) FROM orders GROUP BY MONTH(order_date);"

In [ ]:
#1. How do you optimize a slow-running SQL query?
#Ans1.To optimize a slow SQL query, use proper indexes, avoid unnecessary columns, minimize subqueries, and analyze the query execution plan to identify and eliminate bottlenecks.

In [ ]:
#2. What are views in SQL, and when would you use them?
#Ans2. Views in SQL are virtual tables created by storing a query that can be reused as if it were a regular table, helping to simplify complex queries and enhance security by restricting access to specific data.

In [ ]:
#3. What is the difference between a stored procedure and a function in SQL?
#Ans3.A stored procedure is a set of SQL statements that perform an operation (e.g., modifying data or controlling logic) and can return multiple results,
#while a function is a set of SQL statements that perform a calculation or operation and must return a single value.

In [ ]:
#4. Explain the difference between TRUNCATE, DELETE, and DROP commands.
#Ans4.
#TRUNCATE removes all rows without logging;
#DELETE removes specific rows with logging;
#DROP deletes the entire table structure.

In [ ]:
#5. What are windowing functions, and how are they used in analytics?
#Ans5.Window functions perform calculations across a set of table rows related to the current row, while preserving the individual rows, and are often used in analytics for tasks like ranking, cumulative totals, and moving averages without collapsing the result set

In [ ]:
#6.How do you use PARTITION BY and ORDER BY in window functions?
#Ans6.In window functions, PARTITION BY divides the result set into partitions (groups of rows), and ORDER BY defines the order of rows within each partition.

In [ ]:
#7. How do you handle NULL values in SQL, and what functions help with that (e.g., COALESCE, ISNULL)?
#Ans7.Handling NULL values in SQL involves using specific functions to replace, check, or handle NULLs to ensure proper data processing and avoid errors.
# COALESCE() - Returns the first non-NULL value in a list of expressions.
# "SELECT COALESCE(salary, 0) FROM employees;"
# ISNULL(): Checks if an expression is NULL, and returns a specified value if true.
# "SELECT ISNULL(salary, 0) FROM employees;"
# NULLIF(): Returns NULL if two expressions are equal, otherwise returns the first expression.
# "SELECT NULLIF(salary, 0) FROM employees;"
# IS NULL / IS NOT NULL: Used to filter or check for NULL values.
# "SELECT name FROM employees WHERE salary IS NULL;"

# BASIC SQL CODES

In [1]:

import sqlite3

# Create a database in memory
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a sample table
cursor.execute('''
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    salary REAL,
    department TEXT
)
''')

In [2]:
# Insert sample data
cursor.executemany('''
INSERT INTO employees (name, salary, department) VALUES (?, ?, ?)
''', [
    ('Aryan', 50000, 'HR'),
    ('Karan', 60000, 'Engineering'),
    ('Ketan', 70000, 'Engineering'),
    ('Amit', 55000, 'Marketing'),
    ('Mahesh', 65000, 'Marketing')
])

# Commit the changes
conn.commit()

In [3]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aryan', 50000.0, 'HR')
(2, 'Karan', 60000.0, 'Engineering')
(3, 'Ketan', 70000.0, 'Engineering')
(4, 'Amit', 55000.0, 'Marketing')
(5, 'Mahesh', 65000.0, 'Marketing')

In [4]:
cursor.execute('SELECT * FROM employees WHERE department = "Engineering"')
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'Karan', 60000.0, 'Engineering')
(3, 'Ketan', 70000.0, 'Engineering')

In [5]:
cursor.execute('SELECT department, AVG(salary) FROM employees GROUP BY department')
rows = cursor.fetchall()
for row in rows:
    print(row)

('Engineering', 65000.0)
('HR', 50000.0)
('Marketing', 60000.0)

In [6]:
cursor.execute('INSERT INTO employees (name, salary, department) VALUES (?, ?, ?)', ('Sumit',10000, 'Intern'))
conn.commit()

In [7]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aryan', 50000.0, 'HR')
(2, 'Karan', 60000.0, 'Engineering')
(3, 'Ketan', 70000.0, 'Engineering')
(4, 'Amit', 55000.0, 'Marketing')
(5, 'Mahesh', 65000.0, 'Marketing')
(6, 'Sumit', 10000.0, 'Intern')

In [8]:
cursor.execute('UPDATE employees SET salary = ? WHERE name = ?', (20000, 'Sumit'))
conn.commit()

In [9]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aryan', 50000.0, 'HR')
(2, 'Karan', 60000.0, 'Engineering')
(3, 'Ketan', 70000.0, 'Engineering')
(4, 'Amit', 55000.0, 'Marketing')
(5, 'Mahesh', 65000.0, 'Marketing')
(6, 'Sumit', 20000.0, 'Intern')

In [10]:
cursor.execute('DELETE FROM employees WHERE name = ?', ('Amit',))
conn.commit()

In [11]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aryan', 50000.0, 'HR')
(2, 'Karan', 60000.0, 'Engineering')
(3, 'Ketan', 70000.0, 'Engineering')
(5, 'Mahesh', 65000.0, 'Marketing')
(6, 'Sumit', 20000.0, 'Intern')

In [12]:
conn.close()